/* .footer{border: 1px solid red;
background-color: rgb(225, 223, 223);
} */
.end{
  width: 100%;
  /* border: 1px solid gray; */
  height: 400px;
  margin-top: 70px;
  display: flex;
  font-family:  "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 14px;
  line-height: 23px;
  color:  #6f6f72 ;
  background-color:#f4f4f4;
}
.end h3{
  margin-top: 30px;
  margin-bottom: 30px;
}
.end p:hover{
  color: black;
}
.e1{
  padding-left: 240px;
}
.e2,.e3{
  padding-left: 60px;
}

.image{
  width: 100%;
  margin-top: 100px;
  margin-bottom: 10px;

}
.sliderimg{
  width: 100%;
  height: 500px;
  border: 2px dotted black;
}
/* product page css */

.one{
  margin-top: 200px;
}
.showdiv{
  /* display: flex; */
  margin-left: 2%;
  margin-right: 2%;
  color: #000;
  padding: 20px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  /* box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; */
  margin-top: 2%;
  height: 500px;
  transition: 0.5s;
  /* border: 1px solid rgb(142, 137, 142); */
  overflow: hidden;
}

.img1{
  width: 100%;
  height: 200%;
  /* text-align: center;
  justify-content: center;
  margin: auto; */
}

.productdiv{
  margin-top: 10px;
  display: grid;
  margin-left: 2%;
  grid-template-columns: repeat(3,1fr);
 
}

@media screen and (max-width: 480px) {
  .productdiv{
      display: grid;
  grid-template-columns: repeat(1,1fr);
  }
  /* #main {margin-left: 216px;} */
}
@media screen and (min-width:440px ) and
 ( max-width: 1100px) {
  .productdiv{
      display: grid;
  grid-template-columns: repeat(2,1fr);
  }
  /* #main {margin-left: 216px;} */
}

.showdiv1{
    width: 100%;
    height: 50%;
    color: #000;
    justify-content: center;
    align-items: center;
    margin: auto;
    /* border: 1px solid red; */
}
.price{
    margin-right: 80%;
}
.offerbutton{
    padding: 10px;
    border-radius: 5% ;
    font-size: 20px;
    color: white;
    background-color: black;
}
.nameprice{
    /* background-color: black; */
    width: 100%;
    color: black;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    /* height: 35%; */
    font-size: large;
    font-weight: 400;
    margin-left: 20px;
    margin-top: 100px;
    /* margin-right: 20px; */
    /* padding: 20px; */
}
.name{
  font-size: large;
  font-weight: bolder;
    color: black;
    font-size: 15px;
}
.price{
    color: black;;
    font-size: 20px
}
.pricedivbutton{
    display: flex;
    /* border: 1px solid green; */
  
}
.pricediv{
    width: 80%;
    /* border: 1px solid red; */
}
.addtocartbutton{
    width: 60%;
    /* align-content: center; */
}
/* .cartbutton{
    margin-top: 10%;
    margin-left: 50%;
} */


/* CSS */
.button-59 {
  align-items: center;
  background-color: #fff;
  border: 2px solid #000;
  box-sizing: border-box;
  color: #000;
  cursor: pointer;
  display: inline-flex;
  fill: #000;
  font-family: Inter,sans-serif;
  font-size: 16px;
  font-weight: 600;
  height: 48px;
  justify-content: center;
  letter-spacing: -.8px;
  line-height: 24px;
  min-width: 140px;
  outline: 0;
  padding: 0 17px;
  text-align: center;
  text-decoration: none;
  transition: all .3s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-59:focus {
  color: #171e29;
}

.button-59:hover {
  border-color: #06f;
  color: #06f;
  fill: #06f;
}

.button-59:active {
  border-color: #06f;
  color: #06f;
  fill: #06f;
}

@media (min-width: 768px) {
  .button-59 {
    min-width: 170px;
  }
}



/* CSS */
.button-62 {
    margin-top: 5%;
  background: linear-gradient(to bottom right, #af47ef, #5ae4ff);
  border: 0;
  border-radius: 5px;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system,system-ui,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 2.5;
  outline: transparent;
  padding: 0 1rem;
  text-align: center;
  text-decoration: none;
  transition: box-shadow .2s ease-in-out;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  margin-left: 10px;
}

.button-62:not([disabled]):focus {
  box-shadow: 0 0 .25rem rgba(0, 0, 0, 0.5), -.125rem -.125rem 1rem rgba(239, 71, 101, 0.5), .125rem .125rem 1rem rgba(255, 154, 90, 0.5);
}

.button-62:not([disabled]):hover {
  box-shadow: 0 0 .25rem rgba(0, 0, 0, 0.5), -.125rem -.125rem 1rem rgba(239, 71, 101, 0.5), .125rem .125rem 1rem rgba(255, 154, 90, 0.5);
}
.input1{
  
    color: black;
    height: 22px;
     /* color: #fff; */
    outline: none;
    border: none;

}
.product_search_icon_div{
  /* border: 1px solid red; */
  color: black;
  height:28px;
display: flex;
background-color: #fff;
border: 1px solid black;
width: 200px;
margin-left: 20px;
/* align-items: center;
justify-content: center;
margin: auto; */
 
}
.productdetail1{
  display: flex;
  margin-left: 5%;
  margin-right: 5%;
 
}
.productdetail4{
  width: 40%;
  height: 700px;
  justify-content: center;
  align-items: center;
  margin: auto;
  /* border: 1px solid red; */
}
.productdetail2{
  width: 100%;
  height: 550px;
  /* justify-content: center;
  align-items: center;
  margin: auto; */
  padding: 20px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.imagedetail{
  width: 100%;
  height: 550px
}
.productdetail3{
  display: flex;
   justify-content: space-between; 
}
.cart{
  padding: 15px 20px 15px 20px;
  font-size: 17px;
  font-weight: bold;
  color: white;
  margin-top: 10%;
  background-color: #68d9f9;
  border: none;
  margin-right: 10%;
}
.buynow{
  padding: 15px 20px 15px 20px;
  font-size: 17px;
  font-weight: bold;
  color: white;
  background-color: rgb(75, 240, 57);
  border: none;
  margin-top: 10%;
 
}
.productdetail5{
  width: 50%;
  margin-left: 5%;
  /* border: 2px solid red; */
  padding: 50px;
}
.productdetailname{
  font-size: 30px;
  
}
.productdetail5 span{
  color: #000;
  text-decoration: underline;
}
